29 0-7 * * *    root    cd /home/pi/aigor_fishbowl/ledstrip/ ; python /home/pi/aigor_fishbowl/ledstrip/led_control.py --off
00 22 * * *     root    cd /home/pi/aigor_fishbowl/ledstrip/ ; python /home/pi/aigor_fishbowl/ledstrip/led_control.py --groot
*/5 22,23 * * *     root    cd /home/pi/aigor_fishbowl/ledstrip/ ; python /home/pi/aigor_fishbowl/ledstrip/led_control.py --groot

30 7 * * 1-5     root    cd /home/pi/aigor_fishbowl/ledstrip/ ; python /home/pi/aigor_fishbowl/ledstrip/led_control.py --groot
*/5 10-14 * * *     root    cd /home/pi/aigor_fishbowl/ledstrip/ ; python /home/pi/aigor_fishbowl/ledstrip/led_control.py --groot
05 14 * * *     root    cd /home/pi/aigor_fishbowl/ledstrip/ ; python /home/pi/aigor_fishbowl/ledstrip/led_control.py --off
