29 0-7 * * *    root    cd /home/pi/aigor_fishbowl/ledstrip/ ; python /home/pi/aigor_fishbowl/ledstrip/led_control.py --off
58 21 * * *     root    cd /home/pi/aigor_fishbowl/ledstrip/ ; python /home/pi/aigor_fishbowl/ledstrip/led_control.py --color 255 255 255 255
00 22 * * *     root    cd /home/pi/aigor_fishbowl/ledstrip/ ; python /home/pi/aigor_fishbowl/ledstrip/led_control.py --color 255 200 250 255
00 23 * * *     root    cd /home/pi/aigor_fishbowl/ledstrip/ ; python /home/pi/aigor_fishbowl/ledstrip/led_control.py --color 255 150 200 255
5 23 * * *     root    cd /home/pi/aigor_fishbowl/ledstrip/ ; python /home/pi/aigor_fishbowl/ledstrip/led_control.py --color 255 100 150 255
10 23 * * *     root    cd /home/pi/aigor_fishbowl/ledstrip/ ; python /home/pi/aigor_fishbowl/ledstrip/led_control.py --color 200 100 150 255
15 23 * * *     root    cd /home/pi/aigor_fishbowl/ledstrip/ ; python /home/pi/aigor_fishbowl/ledstrip/led_control.py --color 150 100 200 255
20 23 * * *     root    cd /home/pi/aigor_fishbowl/ledstrip/ ; python /home/pi/aigor_fishbowl/ledstrip/led_control.py --color 100 100 255 255
25 23 * * *     root    cd /home/pi/aigor_fishbowl/ledstrip/ ; python /home/pi/aigor_fishbowl/ledstrip/led_control.py --color 75 75 250 255
30 23 * * *     root    cd /home/pi/aigor_fishbowl/ledstrip/ ; python /home/pi/aigor_fishbowl/ledstrip/led_control.py --color 50 50 200 255
35 23 * * *     root    cd /home/pi/aigor_fishbowl/ledstrip/ ; python /home/pi/aigor_fishbowl/ledstrip/led_control.py --color 40 40 150 255
40 23 * * *     root    cd /home/pi/aigor_fishbowl/ledstrip/ ; python /home/pi/aigor_fishbowl/ledstrip/led_control.py --color 30 30 100 255
45 23 * * *     root    cd /home/pi/aigor_fishbowl/ledstrip/ ; python /home/pi/aigor_fishbowl/ledstrip/led_control.py --color 50 20 50 255
30 0 * * *     root    cd /home/pi/aigor_fishbowl/ledstrip/ ; python /home/pi/aigor_fishbowl/ledstrip/led_control.py --off


30 7 * * *     root    cd /home/pi/aigor_fishbowl/ledstrip/ ; python /home/pi/aigor_fishbowl/ledstrip/led_control.py --color 50 20 20 255
35 7 * * *     root    cd /home/pi/aigor_fishbowl/ledstrip/ ; python /home/pi/aigor_fishbowl/ledstrip/led_control.py --color 100 50 50 255
40 7 * * *     root    cd /home/pi/aigor_fishbowl/ledstrip/ ; python /home/pi/aigor_fishbowl/ledstrip/led_control.py --color 150 75 75 255
45 7 * * *     root    cd /home/pi/aigor_fishbowl/ledstrip/ ; python /home/pi/aigor_fishbowl/ledstrip/led_control.py --color 200 100 100 255
50 7 * * *     root    cd /home/pi/aigor_fishbowl/ledstrip/ ; python /home/pi/aigor_fishbowl/ledstrip/led_control.py --color 220 200 200 255
55 7 * * *     root    cd /home/pi/aigor_fishbowl/ledstrip/ ; python /home/pi/aigor_fishbowl/ledstrip/led_control.py --color 255 255 255 255
05 8 * * *     root    cd /home/pi/aigor_fishbowl/ledstrip/ ; python /home/pi/aigor_fishbowl/ledstrip/led_control.py --off
